/* место для вашего кода */
html {
  scroll-behavior: smooth;
}

body {
  min-inline-size: 1100px; 
  max-inline-size: 1440px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

.content-section {
  inline-size: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 35px 94px 53px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 31px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  inline-size: 138px;
  block-size: 106px;
}

.address {
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-decoration: none;
}

.address-street-city {
  max-inline-size: 237px;
}

.text-decoration-underline {
  text-underline-position: under;
} 

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1; 
  inline-size: 100%;
  block-size: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.cover {
  position: relative;
  min-block-size: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover__title {
  position: relative;
  z-index: 2;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text-left {
  padding-top: 163px;
  padding-left: 51px;
  line-height: 1.15;
  letter-spacing: 30px;
} 

.aligned-text-center {
  padding-top: 11px;
  padding-left: 17px;  
  letter-spacing: 30px;
  text-align: center;
}

.aligned-text-right {
  padding-top: 3px;
  padding-right: 5px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing-normal {
  letter-spacing: 30px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  padding-top: 127px;
}

.cover__description-text {
  display: block;
  padding-left: 368px;
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  display: block;
  border: 1px solid #FFF;
  padding: 14px 29px;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.bet-button:hover {
  cursor: pointer;
}

.lots__heading {
  margin-top: 180px;
  padding-bottom: 27px;
  padding-left: 41px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots {
  padding-left: 50px;
  padding-right: 50px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding-inline-start: 0;
}


.lots__card-list-item {
  flex-grow: 1;
  flex-shrink: 1;
  min-block-size: 450px;
  inline-size: 424px;
  flex-basis: 424px;
}

/*
@media (max-width: 1440px){
  .lots__card-list-item {
      flex-basis: auto;
  }
}
*/

.card-link {
  display: block;
  block-size: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100%;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  padding: 50px 36px 0;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  padding: 0 35px 50px;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);  
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg); 
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  padding: 30px 41px 0;
  font-family: Raleway, sans-serif;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  margin-top: 183px;
  padding-left: 50px;
  padding-right: 43px;
  font-family: Raleway, sans-serif;
}

.about__column-logo {
  display: flex;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 240px;
  block-size: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  inline-size: 148px;
  block-size: 114px;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
}

.about__title {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-left: 24px;
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 180px;
  padding: 0 36px 90px 51px;
}

.footer__menu-list-item {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  max-inline-size: 240px;
}

.footer__social-link {
 display: block;
}

.footer__social-list-item {
  display: flex;
  list-style: none;
}

.footer__social-icon {
  inline-size: 48px;
}


